# ignore compiled object files
*.pyc

# ignore ipython notebooks and checkpoints
*.ipynb_checkpoints*
*.json

*.cpkl

# OSX.
.DS_Store

# vim.
*.swp
*.ropeproject

# ctags
tags

# cache & trash
scripts/cache
scripts/maze/cache
scripts

# other.
venv/*

# specific folders
data
external
experiments
